<div class="card" style="width: 9rem;">
  <img src="/assets/{{nombre}}.png" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <a href="#" class="btn btn-primary">Select</a>
  </div>
</div>
