<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/popper/popper.js"></script>
        <link rel="stylesheet" href="estilos.css" />
    <title>Document</title>
</head>
<body>
    {{> menu}}
    {{{body}}}
    
</body>
</html>